<div class="school-sponsor-container">
    <div class="svg-image">
        <img src="https://cdn.discordapp.com/attachments/1098412608987603035/1128079690796642425/CCA_Vector_LOGO_color-ai.svg"
             alt="CCA"/>
    </div>
    <div class="content">
        <p>Our team is grateful for the support of California Crosspoint Academy, including mentors, campus, tools,
            hardware, and community.</p>
        Visit <a href="https://crosspointacademy.org/" target="_blank">California Crosspoint Academy</a>
    </div>
</div>